@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/sky-alpha.css";
@import "@radix-ui/colors/sky-dark.css";
@import "@radix-ui/colors/sky-dark-alpha.css";

@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/bronze-alpha.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/bronze-dark-alpha.css";

@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";

.noisy::before {
  content: "";
  filter: url("#filter-noise");
  position: fixed;
  inset: 0px 0px 50%;
  z-index: 0;
  overflow: hidden;
  opacity: 0.2;
  mask-image: radial-gradient(100% 50% at 50% 0, black, transparent);
}

.hero--inner {
  background-image: radial-gradient(
    50% 100% at 50% 0,
    var(--bronze-a6),
    var(--bronze-a3),
    transparent
  );
}

.pulser {
  container-type: size;
}
