---
import { Markdown } from "astro/components"
import DefaultLayout from "./Default"

const meta = {
  title: "François Vaux",
  description: "Personal home page of François Vaux, full-stack developer"
}
---
<DefaultLayout meta={meta}>
  <header class="p-8 pb-4 sm:pb-8 sm:pr-4">
    <img src="/img/photo.png" alt="A picture of François Vaux" class="rounded w-24 h-24 shadow" />
  </header>
  <section class="p-8 pt-4 sm:p-8 sm:pl-4 text-lg flex-1 leading-elaxed space-y-3">
    <h2 class="text-center sm:text-left text-2xl">
      Hi, I'm <strong class="font-bold">François Vaux</strong>!
    </h2>
    <slot />
  </section>
</DefaultLayout>
